meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fases de la evaluación del desempeño laboral

meta(meta name="description" content="El Acuerdo 617 de 2018, expedido por la Comisión Nacional del Servicio Civil - CNSC, establece cuatro fases para llevar a cabo el proceso de evaluación del desempeño de los empleados de carrera administrativa y en periodo de prueba.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")