h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210201045-03: concertar los compromisos funcionales y comportamentales con el evaluado de acuerdo con los términos del Sistema Tipo de la CNSC.

            li.mt-3 
                span 210201045-04: realizar seguimiento sobre el avance (cumplimiento o incumplimiento) de los compromisos funcionales y desarrollo de las competencias.

            li.mt-3 
                span 210201045-05: evaluar el cumplimiento de los compromisos laborales verificando el porcentaje de avance en los términos del sistema tipo de la CNSC. 

            li.mt-3 
                span 210201045-06: establecer la calificación definitiva con los resultados de las evaluaciones parciales según los lineamientos de la CNSC.                                                 



