

.container
    .header-ecored
        h1 Introducción        
.container
    .row.my-5
        .col
            .card

                .embed-responsive.embed-responsive-16by9.mt-5
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/p6YoMy4n_u0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                .card-body.mt-0
                    p El Acuerdo 617 de 2018, expedido por la Comisión Nacional del Servicio Civil, -CNSC, establece cuatro fases para llevar a cabo el proceso de Evaluación del Desempeño de los empleados de carrera administrativa y en periodo de prueba
                    p En la primera fase se realiza la Concertación de Compromisos entre el Evaluado y el Evaluador. La Segunda fase se refiere al seguimiento que se realiza durante el periodo de evaluación, la tercera fase corresponde a las Evaluaciones Parciales determinando el porcentaje de avance de los compromisos del Servidor Público, y en la cuarta fase se consolidan los resultados obtenidos en las evaluaciones parciales para establecer la Calificación Definitiva.
                hr.bd-hr