

.container
    .header-ecored
        h1 Introducción        
.container
    .row
        .col
            .card

                img.img-a.mx-0(src="assets/images/pages/ilustraciones/mf3.jpg").img-fluid 
                
                .card-body.mt-0
                    p El Acuerdo 6176 de 2018, expedido por la Comisión Nacional del Servicio Civil, -CNSC, establece cuatro fases para llevar a cabo el proceso de evaluación del desempeño de los empleados de carrera administrativa y en periodo de prueba
                    p.mt-3 En la primera fase se realiza la concertación de compromisos entre el evaluado y el evaluador. La segunda fase se refiere al seguimiento que se realiza durante el periodo de evaluación, la tercera fase corresponde a las evaluaciones parciales determinando el porcentaje de avance de los compromisos del servidor público, y en la cuarta fase se consolidan los resultados obtenidos en las evaluaciones parciales para establecer la calificación definitiva.