.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody
                tr
                    td
                        strong Acuerdo 617 de 2018 Por el cual se establece el Sistema Tipo de Evaluación del Desempeño Laboral de los Empleados Públicos de Carrera Administrativa y en Período de Prueba. Bogotá, D.C., 10 de octubre de 2018.
                    td Acuerdo
                    td 
                        a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=90685", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span>Ver documento

                tr                    

                    td
                        strong Anexo Técnico del Sistema Tipo de Evaluación del Desempeño. Bogotá, D.C., 10 de octubre de 2018  
                    td Anexo del Acuerdo 617/18
                    td 
                        a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=90685", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span>Ver documento
                        
